# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# macOS
.DS_Store

# 開発ログ（内部メモ・公開しない）
docs/devlog.md
